<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Registration" connectionString="Data Source=MAJID-PC\SQLEXPRESS;initial catalog=D:\.NET Programs 2015\Online Shopping 1\Online Shopping 1\App_Data\Registration.mdf;Integrated Security=True;" />
    <add name="D:\.NET PROGRAMS 2015\ONLINE SHOPPING 1\ONLINE SHOPPING 1\APP_DATA\REGISTRATION.MDFConnectionString"
      connectionString="Data Source=MAJID-PC\SQLEXPRESS;Initial Catalog=&quot;D:\.NET PROGRAMS 2015\ONLINE SHOPPING 1\ONLINE SHOPPING 1\APP_DATA\REGISTRATION.MDF&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
